<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BHAI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/img/favicon.png" rel="icon"> -->
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <img src="/img/bhai.png" width="24" height="24">
      <h1 class="logo me-auto"><a href="#/_layouts/design_one.html">BHAI</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="/img/bhai-removebg-preview.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Team</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Healthcare using AI</h1>
          <h2>We research on AI-based technologies for revolutionizing healthcare system in developing nations. </h2>
          <!-- <h3> <em> Saving billions of babies at a time. </em> </h3> -->
        </div>
        <!-- <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200"> -->
          <!-- <img src="/img/bhai-removebg-preview.png" class="img-fluid animated" alt=""> -->
        <!-- </div> -->
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">




 <!-- ======= Services Section ======= -->
    <section id="blog" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Blog</h2>
          <p>We put forward our views in recent AI-based technologies in healthcare. Click on them to take you to our medium article.</p>
        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex align-items-stretch mt-0 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="https://medium.com/@isrfoundation89/reshaping-breast-cancer-care-ai-driven-advances-in-detection-diagnosis-and-prognosis-ac5d8aa739f8">Reshaping Breast Cancer Care: AI-Driven Advances in Detection, Diagnosis, and Prognosis</a> </h4>
              <p>January 11, 2025</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex align-items-stretch mt-0 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="https://medium.com/@isrfoundation89/explainable-ai-xai-7f2710cb58f3">Explainable AI (XAI)</a> </h4>
              <p>December 22, 2023</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex align-items-stretch mt-0 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="https://medium.com/@isrfoundation89/ai-in-healthcare-iii-continuous-care-domain-0d168c787ddc">AI in Healthcare III: Continuous Care Domain</a></h4>
              <p>October 28, 2023</p>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex align-items-stretch mt-0 mt-md-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-file"></i></div> -->
              <h4><a href="https://medium.com/@isrfoundation89/ai-in-healthcare-pts-ii-consumer-domain-f72f777085c">AI in Healthcare II: Consumer Domain</a></h4>
              <p>September 28, 2023</p>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex align-items-stretch mt-0 mt-md-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bx-tachometer"></i></div> -->
              <h4><a href="https://medium.com/@isrfoundation89/ai-in-health-care-pts-i-f64e80181607">AI in Healthcare I: Overview</a></h4>
              <p>August 12, 2023</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

        <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

        <div class="d-flex justify-content-center flex-wrap text-center">
          <div class="p-3">
           <img src="/img/promit.jpg" alt="Promit Ghosal" width="150" height="150"><br>
             Promit Ghosal <br> PhD, Statistician
          </div>
          <div class="p-3">
            <img src="/img/ayo.jpg" alt="Promit Ghosal" width="150" height="150"><br>
           Ayowole Delegan <br> MBA, Business Analyst
          </div>
          <div class="p-3">
            <img src="/img/olabiyi.jpg" alt="Promit Ghosal" width="150" height="150"><br>
           Olabiyi H. Olaniran <br> MD, MPH, Clinician
          </div>
          <div class="p-3">
            <img src="/img/ayushi.jpeg" alt="Promit Ghosal" width="150" height="150"><br>
           Ayushi Gupta <br> BDS, MPH, Clinician
          </div>
          <div class="p-3">
            <img src="/img/pro.jpg" alt="PK" width="150" height="150"><br>
           Prosenjit Kundu <br> PhD, Biostatistician
          </div>
        </div>


      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row content">

          <div class="col-lg-12  center-block text-center"> <i class="bi bi-envelope"> bHAItechnologies@gmail.com</i> </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>
